@font-face {
    font-family: HelveticaLTStd-Roman;
    src: url("../fonts/HelveticaLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: HelveticaLTStd-Bold;
    font-weight: bold;
    src: url("../fonts/HelveticaLTStd-Bold.otf") format("opentype");
}